<!DOCTYPE html>
<html>
<head>
    <title>Frequently Asked Questions</title>

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a routerLink="/home">Home</a></li>


                <li><a routerLink="/">Logout</a></li>
                
            </ul>
        </nav>
    </header>
    <main>
        <h1> <strong>Frequently Asked Questions</strong></h1>
        <ul>
            <li>
                <h1>1)What about processing power,ram,storage space,graphics cards etc?	</h1>
                <p>Again we are talking about causal users here.So spouting off a bunch of technical specifications is going to mean nothing to them. I say based on the budget the primary purpose of the machine OS and brand - buy the fastest processor most amount ram and largest amount of storage they can afford. You can never have a fast enough processor enough ram or enough storage in my opinion. </p>
            </li>
            <li>
                <h1>2)How much RAM and power will my computer need?</h1>
                <p>RAM is your computer's short-term memory. Basically it stores the latest info your computer is using so that it can be accessed quickly. The more things youƒ??re doing the more RAM you need. If youƒ??ll be using your desktop computer for everyday tasks 4GB RAM should be fine. For multitasking and complex creative tasks you should go for at least 8GB.</p>
            </li>
            <li>
                <h1>3)What's the ideal storage capacity of a desktop computer?</h1>
                <p>Storage space is measured in megabytes(MB) gigabytes(GB)and terabytes(TB).The space you need depends on how many files and programmes youƒ??ll be saving on your computer and the size of them. Text files are small and wonƒ??t take up too much space	 photos are a little bit larger	 and big music	 video and 3D design files will need the most storage space. 
                  <li>For example: 1TB can store: 16	660 hours of music / 320	000 photos / 1	000 hours of video / 250 HD movies.</li>  </p>            
            </li>
            <li>
                <h1>4)Does a computer need a graphics card?	
                </h1>
                <p>The integrated or built-in graphics on your desktop computer will be good enough for everyday computing. But if you're planning on using your PC for video editing or some serious gaming	 youƒ??ll need serious power.Go for a high-end computer graphics card and youƒ??ll be able to play games in pin-sharp 4K quality on multiple monitors. But be sure to check that your PC power supply can support it before you buy one. You'll also need to make sure you've got room on your motherboard for it.</p>
            </li>
            <li>
                <h1>5)Should I get an all-in-one desktop computer or a tower computer?</h1>
                <p>Tower computers are still popular but they can be fairly bulky. If you're limited in terms of space think about going for an all-in-one or mini-PC.All-in-one desktop computer: The computer is built into the monitor	 so you donƒ??t have to find space for a tower and separate monitor.Mini-PC: These are so compact they can fit almost anywhere. This makes mini-PCs a great solution when space is really tight.Tower: This traditional desktop PC is made up of a tower (the case that holds all the components) and separate desktop computer monitor. They're popular with gamers that need a powerful rig and with families looking for an affordable PC.</p>
            </li>
        </ul>
    </main>
    <footer>
        <p>&copy; A2D</p>
    </footer>
</body>
</html>